# Copier ce fichier en .env et remplir les valeurs
# Obtenir ces clés sur : https://supabase.com/dashboard/project/eiujeuwbkbteyalfdpal/settings/api

VITE_SUPABASE_URL=https://eiujeuwbkbteyalfdpal.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpdWpldXdia2J0ZXlhbGZkcGFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MzI2NTAsImV4cCI6MjA5MDIwODY1MH0.q9Hp6MZeszIv37XvP4DtJF4joXLmeuju2pomfXRYFc4
