# Dépendances
node_modules/
client/node_modules/

# Build
client/dist/

# Variables d'environnement (ne jamais commiter !)
.env
client/.env
*.env.local

# Données locales (plus utilisées, remplacées par Supabase)
data/
uploads/

# Logs
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db
.vscode/
.idea/


client/src/cv.css
client/src/pages/CVDevPage.jsx
client/src/pages/CVPage.jsx

